footer.footer
	.wrapper
		.footer__advertise
		nav.footer__nav
			ul
				li
					a(href="#") World News
				li
					a(href="#") Sports
				li
					a(href="#") Technology
				li
					a(href="#") Bussiness
				li
					a(href="#") Movies
				li
					a(href="#") Entertainment
				li
					a(href="#") Culture
				li
					a(href="#") Books
				li
					a(href="#") Classfields
				li
					a(href="#") Blogs
		.footer__copy
			p Copyright © 2011 The News Reporter Inc. All rights reserved. Theme designed by GraphicsFuel.com
			p Reproduction in whole or in part in any form or medium without express written permission of The News Reporter Inc. is prohibited. The trade marks and images used in the design are the copyright of their respective owners. They are used only for display purpose.

