header.header
	.wrapper
		.header__topline
			.header__logo
				img(src="img/header-logo.png" alt="logo")
			nav.header__nav
				ul
					li
						a(href="#") Home
					li
						a(href="#") About Us
					li
						a(href="#") Contact Us
					li
						a(href="#") Subscribe
					li
						a(href="#") Login
			.header__right
				.header__social
					a(href="#")
						i.header__icon-twitter
					a(href="#")
						i.header__icon-facebook
					a(href="#")
						i.header__icon-rss
					a(href="#")
						i.header__icon-fb-like
					a(href="#")
						i.header__icon-google-like
				.header__search-wrapper
					input.header__search(type="text")
					button.header__search-button
						i.header__icon-search
		nav.header__main-nav
			ul
				li
					a(href="#") world  news 
				li
					a(href="#") sports 
				li
					a(href="#") tech
				li
					a(href="#") business
				li
					a(href="#") Movies
				li
					a(href="#") entertainment
				li
					a(href="#") culture 
				li
					a(href="#") Books
				li
					a(href="#") classifieds
				li
					a(href="#") blogs