main.main
	.wrapper
		//- Start left column
		.main__l-col
			.main__breaking
				.main__big
					img(src="img/mainpic.jpg")
					.main__breaking-heading
						p.main__title-text Lorem ipsum dolor sit amet, consectetur Nulla quis lorem neque, mattis venenatis lectus. 
				.main__sub
					.main__sub-tile
						a(href="#")
							img(src="img/main_thumb1.jpg" alt="thumbnail image")
					.main__sub-tile
						a(href="#")
							img(src="img/main_thumb2.jpg" alt="thumbnail image")
					.main__sub-tile
						a(href="#")
							img(src="img/main_thumb3.jpg" alt="thumbnail image")
					.main__sub-tile
						a(href="#")
							img(src="img/main_thumb4.jpg" alt="thumbnail image")
				.main__breaking-news
					button.main__breaking-btn
			//- Start 1-
			.main__lcol-1
				//- Around 
				.main__around
					.main__around-title From around the world
					.main__red
						button.main__more <i></i>
					.main__around-wrapper
						.main__around-tile
							a(href="#")
								img(src="img/around_pic1.jpg" alt="around pic")
							p.main__around-text Lorem ipsum dolor sit amet, consectetur Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.
							.main__around-more-link
								a.read__more(href="#") Read more
						.main__around-tile
							a(href="#")
								img(src="img/around_pic2.jpg" alt="around pic")
							p.main__around-text Lorem ipsum dolor sit amet, consectetur Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.
							.main__around-more-link
								a.read__more(href="#") Read more
						.main__around-tile
							a(href="#")
								img(src="img/around_pic3.jpg" alt="around pic")
							p.main__around-text Lorem ipsum dolor sit amet, consectetur Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.
							.main__around-more-link
								a.read__more(href="#") Read more

				//- Articles				
				.main__articles
					.main__articles-title Latest Articles
					.main__red
						button.main__more <i></i>
					.main__articles-wrap
						.main__articles-tile
							img(src="img/latest_pic1.jpg" alt="latest pic")
							p.main__articles-text Lorem ipsum dolor sit amet, consectetur Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis. 
							.main__articles-more-link
								a.read__more(href="#") Read more					
						.main__articles-tile
							img(src="img/latest_pic2.jpg" alt="latest pic")
							p.main__articles-text Lorem ipsum dolor sit amet, consectetur Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.
							.main__articles-more-link
								a.read__more(href="#") Read more
						.main__articles-tile
							img(src="img/latest_pic3.jpg" alt="latest pic")
							p.main__articles-text Lorem ipsum dolor sit amet, consectetur Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.
							.main__articles-more-link
								a.read__more(href="#") Read more

				//- Gallery
				.main__gallery
					.main__gallery-title Gallery
					.main__red
						button.main__more <i></i>
					.main__gallery-wrap
						.main__gallery-tile
							a(href="#")
								img(src="img/gallery_pic1.jpg" alt="gallery pic")
						.main__gallery-tile
							a(href="#")
								img(src="img/gallery_pic2.jpg" alt="gallery pic")
						.main__gallery-tile
							a(href="#")
								img(src="img/gallery_pic3.jpg" alt="gallery pic")
						.main__gallery-tile
							a(href="#")
								img(src="img/gallery_pic4.jpg" alt="gallery pic")
						.main__gallery-tile
							a(href="#")
								img(src="img/gallery_pic5.jpg" alt="gallery pic")
						.main__gallery-tile
							a(href="#")
								img(src="img/gallery_pic6.jpg" alt="gallery pic")
				//- Technews
				.main__tech
					.main__tech-title Tech News
					.main__red
						button.main__more <i></i>
					.main__tech-wrap
						.main__tech-tile
							h5.main__tech-heading Lorem ipsum dolor sit amet conse ctetur adipiscing elit 
							p.main__tech-text Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...
							p.main__tech-bottom by &nbsp;
								a.main__tech-by(href="#") John Doe 
								| | &nbsp;
								a.main__tech-comments(href="#") 29 Comments
						.main__tech-tile
							h5.main__tech-heading Lorem ipsum dolor sit amet conse ctetur adipiscing elit 
							p.main__tech-text Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...
							p.main__tech-bottom by &nbsp;
								a.main__tech-by(href="#") John Doe 
								| | &nbsp;
								a.main__tech-comments(href="#") 29 Comments
						.main__tech-tile
							h5.main__tech-heading Lorem ipsum dolor sit amet conse ctetur adipiscing elit 
							p.main__tech-text Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...
							p.main__tech-bottom by &nbsp;
								a.main__tech-by(href="#") John Doe 
								| | &nbsp;
								a.main__tech-comments(href="#") 29 Comments
						.main__tech-tile
							h5.main__tech-heading Lorem ipsum dolor sit amet conse ctetur adipiscing elit 
							p.main__tech-text Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...
							p.main__tech-bottom by &nbsp;
								a.main__tech-by(href="#") John Doe 
								| | &nbsp;
								a.main__tech-comments(href="#") 29 Comments

			//- Start left column 2
			.main__lcol-2
				//- Start desk
				.main__desk
					.main__desk-title From the desk
					.main__red
					.main__desk-tile
						h5.main__desk-heading Lorem ipsum dolor sit amet conse ctetur adipiscing elit
						p.main__desk-text Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.
						.main__desk-bottom
							a.read__more(href="#") Read more
							.main__desk-date 2 hours ago
					.main__desk-tile
						h5.main__desk-heading Lorem ipsum dolor sit amet conse ctetur adipiscing elit
						p.main__desk-text Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.
						.main__desk-bottom
							a.read__more(href="#") Read more
							.main__desk-date 2 hours ago
					.main__desk-tile
						h5.main__desk-heading Lorem ipsum dolor sit amet conse ctetur adipiscing elit
						p.main__desk-text Nulla quis lorem neque, mattis venen atis lectus. In interdum ull amcorper dolor eu mattis.
						.main__desk-bottom
							a.read__more(href="#") Read more
							.main__desk-date 2 hours ago
					button.main__more <i></i>
				//- Start editorial
				.main__editorial
					.main__editorial-title Editorial
					.main__red
					.main__editorial-tile
						img(src="img/editorial_pic1.jpg" alt="editorial pic")
						a(href="#") Lorem ipsum dolor sit amet con se cte tur adipiscing elit
					.main__editorial-tile
						img(src="img/editorial_pic2.jpg" alt="editorial pic")
						a(href="#") Lorem ipsum dolor sit amet con se cte tur adipiscing elit
					.main__editorial-tile
						img(src="img/editorial_pic3.jpg" alt="editorial pic")
						a(href="#") Lorem ipsum dolor sit amet con se cte tur adipiscing elit
					.main__editorial-tile
						img(src="img/editorial_pic4.jpg" alt="editorial pic")
						a(href="#") Lorem ipsum dolor sit amet con se cte tur adipiscing elit
		//- Start of the right column
		.main__r-col
			.main__videos
				.main__videos-tile
						.main__videos-pic
							a(href="#")
								img(src="img/preview.jpg" alt="preview")
						p.main__videos-text Lorem ipsum dolor sit amet conse ctetur adipiscing elit				
				.main__videos-tile
						.main__videos-pic
							a(href="#")
								img(src="img/preview.jpg" alt="preview")
						p.main__videos-text Lorem ipsum dolor sit amet conse ctetur adipiscing elit
				.main__videos-tile
						.main__videos-pic
							a(href="#")
								img(src="img/preview.jpg" alt="preview")
						p.main__videos-text Lorem ipsum dolor sit amet conse ctetur adipiscing elit
				.main__videos-tile
						.main__videos-pic
							a(href="#")
								img(src="img/preview.jpg" alt="preview")
						p.main__videos-text Lorem ipsum dolor sit amet conse ctetur adipiscing elit
				button.main__more-videos <i></i>
			.main__advertise
				a(href="#")
					img(src="img/img1.jpg" alt="advertisment")
			.main__form
				h3.main__form-title Sign Up for Newsletter
				h4.main__form-subtitle Sign up to receive our free newsletters!
				input.main__form-name(type="text" placeholder="Name")
				input.main__form-email(type="text" placeholder="Email Address")
				button.main__form-submit(type="submit") Submit
				p.main__spam We do not spam. We value your privacy!
			.main__popular
				.main__popular-title
					a.main__popular-link.active(href="#") Popular
					a.main__popular-most(href="#") Most read
				.main__red
				.main__popular-tile
					.main__popular-date Sept 24th 2011
						p.main__popular-text Lorem ipsum dolor sit amet conse ctetur adipiscing elit &nbsp;
							a.read__more(href="#") Read more
				.main__popular-tile
					.main__popular-date Sept 24th 2011
						p.main__popular-text Lorem ipsum dolor sit amet conse ctetur adipiscing elit &nbsp;
							a.read__more(href="#") Read more
				.main__popular-tile
					.main__popular-date Sept 24th 2011
						p.main__popular-text Lorem ipsum dolor sit amet conse ctetur adipiscing elit &nbsp;
							a.read__more(href="#") Read more
				.main__popular-tile
					.main__popular-date Sept 24th 2011
						p.main__popular-text Lorem ipsum dolor sit amet conse ctetur adipiscing elit &nbsp;
							a.read__more(href="#") Read more
				.main__popular-tile
					.main__popular-date Sept 24th 2011
						p.main__popular-text Lorem ipsum dolor sit amet conse ctetur adipiscing elit &nbsp;
							a.read__more(href="#") Read more
					button.main__more-popular <i></i>
			.main__advertise2
				a(href="#")
					img(src="img/advertise3.jpg" alt="advertisment")
		
.wrapper
	.main__advertise3
		a(href="#")
			img(src="img/advertise2.jpg" alt="advertisment")
